.form_content
    // flex: 2
    background-color: rgba(255, 216, 221,.4)
    height: 100%
    padding: 4rem 2rem 1rem 2rem
    h1
        text-transform: uppercase
        font-family: 'selimaregular'
        font-size: 4rem
        text-align: center
    p
        text-align: center
    .contact_form
        display: flex
        flex-direction: column
        align-items: center
        margin: 0 auto
        input
            padding: .5rem
            margin: .8rem
            outline: none
            border: none
        .name, .email, .phone
            width: 20rem
        .text
            width: 20rem
            height: 7rem
            outline: none
            border: none
            padding: 0.5rem
            margin: .8rem
            font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

        @include styleButton($first-color,$bgc-color,$font-color,1rem 2rem)
    // .contact_information
    //     flex: 1
    //     align-self: center
    //     padding: 2rem
    //     .content_infos
    //         display: flex
    //         flex-direction: column
    //         align-items: center
    //         img
    //             height: 14rem
