.welcome
    display: flex
    flex-direction: column
    align-content: center

.header
    height: 4rem

.footer
    height: 2rem
.home_content
    display: flex
    // flex-direction: column
    align-items: center
    justify-content: space-around
    flex: 1
    // margin-top: 4rem

    .welcome_title
        display: flex
        flex-direction: column
        align-items: center

    .title_selima
        font-family: 'selimaregular'
        margin: 1rem
    h1
        font-size: 4rem
    h3
        font-size: 2rem

    .logo_title
        width: 25rem
        height: auto

    .logo_draw
        width: 15rem
        height: auto
        margin-top: 6rem
        p
            text-align: center
            font-size: 1.2rem
            font-weight: bold

.border_title
    height: .5rem
    width: 30rem
    margin: 0 auto
    background-color: $first-color

.sub_title
    font-size: 3rem
    text-align: center
    margin-top: 1rem
